<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>idbcl</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/example/XCode/idbcl/DerivedData/idbcl/Build/Products/Debug/idbcl</string>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/example/Dropbox/idbcl/stdout</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/example/Dropbox/idbcl/stderr</string>
	<key>StartInterval</key>
	<integer>3456</integer>
</dict>
</plist>
